<h1>PhotoSite User List</h1>

<p>There are <%= User.all.count %> Users</p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>First</th>
      <th>Last</th>
    </tr>
  </thead>
  <tbody>
  <% @users_all.each do |user| %>
    <%= render "user_row", user: user %>
  <% end %>
  </tbody>
</table>